@using MVC_Test.Helpers;
@using MVC_Test.Models.SelectableItems;
@model SelectableItemsViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<h2>Selectable Items Test</h2>

@using (Html.BeginForm())
{
    @await Html.PartialAsync("Selectable/SelectableTable", Model.SelectableTableViewModel)
    ;

    <p><input type="submit" value="Rebind" formaction="Rebind"/></p>
    <p><input type="submit" value="Rebatch" formaction="Rebatch" /></p>
}