@using BLL.Models.Selectable;
@model SelectableTableViewModel<object>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            @foreach (var item in Model.ColumnsData)
            {
                <th scope="col">@item.HeaderText</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Items.Count; i++)
        {
            <tr onclick="calc('@i')">
                <td>
                    @Html.CheckBox(
                        $"SelectableTableViewModel.Items[{i}].IsSelected",
                        Model.Items[i].IsSelected,
                new {id = $"checkbox-{@i}"})
                </td>

                @await Html.PartialAsync("Selectable/SelectableItem", Model.Items[i],
                    new ViewDataDictionary(ViewData){{"ColumnsData", Model.ColumnsData},{"IndexInTable", @i}})
            </tr>
        }
    </tbody>
</table>

<script>
    function calc(id) {
        console.log(id);
        document.getElementById("checkbox-" + id).checked = !document.getElementById("checkbox-" + id).checked
    }

    $(".selectable-item > a").click(function (e) {
        e.stopPropagation();
    });
</script>